@font-face {
    font-family: defaultFont;
    src: url('../font/TitilliumWeb-SemiBold.ttf');
}

body {
    font-family: defaultFont;
    margin: auto;
    padding: 10px 50px;
    max-width: 900px;
    min-width: 400px;
}

h1 {
    color: white;
    background-color: #222;
    text-align: center;
    border-radius: 20px;
    padding: 12px;
}

h3 {
    color: white;
    background-color: #222;
    text-align: center;
    border-radius: 10px;
    padding: 6px;
}

th,
td {
    width: 20%;
    padding: 0px 8px;
    text-align: center;
    border-bottom: 6px solid white;
}

th {
    color: white;
    background-color: grey;
    padding: 6px;
}

tr {
    background-color: gainsboro;
}

table {
    border-collapse: collapse;
    margin-left: 8px;
}

button {
    border: 0px;
    color: aliceblue;
    background-color: forestgreen;
    border-radius: 20px;
    outline: none;
}

button:hover {
    color: forestgreen;
    background-color: white;
}

input {
    font-family: defaultFont;
    margin: 10px;
    border: 2px solid darkgreen;
    border-radius: 20px;
    padding: 10px;
    /*max-width: 80px;*/
}

input[type="number"] {
    max-width: 64px;
}

input:hover {
    background-color: #e5efe5;
}

input:focus {
    background-color: #a5efa5;
    outline: none;
}

input.error_input {
    border-color: #c22;
}

input.error_input:hover {
    background-color: #efe5e5;
}

input.error_input:focus {
    border-color: #c22;
    background-color: #efb5b5;
}

.large {
    min-width: 256px;
}
textarea {
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid;
    resize: none;
}

/* fixed size text area */
texarea.large {
    max-width: 256px;
}
textarea:focus {
    outline: none;
}

input[type=checkbox] {}

button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border: solid 2px forestgreen;
    background-color: forestgreen;
    border-radius: 20px;
    outline: none;
}

button.remove_button {
    border: solid 2px #c00;
    background-color: #c00;
}

button:hover {
    font-weight: bold;
    color: forestgreen;
    background-color: white;
    border: solid 2px forestgreen;
    border-radius: 20px;
}

button.remove_button:hover {
    border: solid 2px #c00;
    background-color: white;
    color: #c00;
}

#page_content {
    margin-top: 24px
}
#total_table {
    
}

/* Different sizes for labels */
.label-xs {
    font-size: 4px;
}

.label-s {
    font-size: 8px;
}

.label-m {
    font-size: 12px;
}

.label-l {
    font-size: 18px;
}

.label-xl {
    color: aqua;
    font-size: 26px;
}
.icon_sm {
    display: block;
    width: 24px;
    height: 100%;
}
.align_left {
    text-align: left;
}

.info_message,
.error_message,
#error_label,
#info_label,
#total_info_label {
    display: block;
    font-size: 14px;
    text-align: center;
    color: green;
}

.error_message,
#error_label {
    font-size: 14px;
    color: crimson;
}